<html>
      <style type="text/css">
        body {
              background-color: #453;
              margin: 40px;
              font: 12px     /20px normal Helvetica, Arial, sans-serif;
              color: #000;
        }
        h1{padding:2em 1em;background:#675;text-align: center}
        h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>

      <body>
        <h1>SkyeyeServer</h1>
        {% block content %}
        {% endblock %}
      </body>
</html>