{% extends "base.html" %}
{% block content %}
<body>
	<fieldset class="cont">
	<h1 >搜索</h1>
	<div class="list">
		<label class="help-block"><s>*</s>查询方式:</label>
		<select size="1" name="D1" onChange="javascript:queryData('mune_x'+this.value)">  
			<option value="1">ip</option> 
			<option value="2">时间</option> 
			<option value="3">是否dump</option>
		</select> 
	</div>

	<!-------------------------------ip-------------------------------------->
	<div class="list" id="x1">
		<label class="help-block"><s>*</s>ip:</label>
		<input type="text" value="" name="ip" placeholder="请输入要查询的ip">
	</div>

	<!-------------------------------时间-------------------------------------->
	<div class="list" id="x2" style="display:none">
		<div id="dCon2">
			开始时间：2017-04-14
			<br/>
			结束时间：2017-04-15
			<br/>
		</div>
		 <div class="ta_date" id="div_date1">
				<span class="date_title" id="date1"></span>
				<a class="opt_sel" id="input_trigger1" href="#">
					<i class="i_orderd"></i>
				</a>
			</div>
			<div id="datePicker1"></div>
		<br/>
		<script type="text/javascript">
			//var STATS_START_TIME = '1329148800';
			var starttime = '2017-04-14'
			var endtime = '2017-04-15'
			var dateRange1 = new pickerDateRange('date1', {
				isTodayValid : true,
				startDate : '2017-04-14',
				endDate : '2017-04-15',
				needCompare : false,
				defaultText : ' 至 ',
				autoSubmit : true,
				inputTrigger : 'input_trigger1',
				theme : 'ta',
				success : function(obj) {
					starttime = obj.startDate
					endtime = obj.endDate 
					$("#dCon2").html('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);
				}
			});

		</script>
		<br/>
	</div>
	<!-------------------------------dump-------------------------------------->
	<div class="list" id="x3" style="display:none">
		<label class="help-block"><s>*</s>dump:</label>
		<select size="1" name="dump">  
			<option value="1">是</option> 
			<option value="0">否</option> 
		</select> 
	</div>
	<div class="list">
		<button id="directNextpage" class="btn" onclick="flushName(1)">搜索</button>  
	</div>
</fieldset>
	<div class="main">
		<h1>详细信息</h1>
		<!-- 编辑器的列表 -->
		<div class="first-div" align="center">
			<h2>编辑器列表</h2>
			<br/>
			<table id="editortable" class="table table-striped table-bordered">
				<thread>
					<tr>
						<th align="left">名称</th>
					</tr>
				</thread>
				{% for editor in eidtorname %}
					{% ifequal editor.name ename.name %}
						<tr class="success"><td onclick="flushUser(1, this)">{{ editor.name }}</td></tr>
					{% else %}
						<tr><td onclick="flushUser(1, this)">{{ editor.name }}</td></tr>
					{% endifequal %}
				{% endfor %}
			</table>
			<ul id="namepage" class="pagination">
				{% if eidtorname.has_previous %}
					<li><a title='上一页' onclick="flushName('{{eidtorname.previous_page_number }}')">&lt;&lt;</a></li>
				{% endif %}
				{% for page in eidtorname.paginator.page_range_ext %}
					{% if page == eidtorname.number %}
						<li class="active"><a onclick="flushName('{{ page }}')" title='当前页:{{ page }}'>{{ page }}</a></li>
					{% else %}
						<li><a  onclick="flushName('{{ page }}')" title='{{ page }}'>{{ page }}</a></li>
					{% endif %}
				{% endfor %}
				{% if eidtorname.has_next %}
					<li><a title='下一页' onclick="flushName('{{eidtorname.next_page_number }}')">&gt;&gt;</a></li>
				{% endif %}
			</ul>
		</div>
		<!-- 编辑器的详细信息 -->
		<div class="second-div" align="center">
			<h2>使用情况</h2>
			<br/>
			<table id="usertable" class="table table-striped table-bordered">
				<thread>
					<tr align="left">
						<th>ID</th>
						<th>IP</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>退出状态</th>
						<th>附件</th>
					</tr>
				</thread>
				{% for editor in editorUser %}
				<tr>
					{% ifequal editor.id eid %}
						<td onclick="flushOpt( 1, this )" >{{ editor.id }}</td>
					{% else %}
						<td onclick="flushOpt( 1, this )" >{{ editor.id }}</td>
					{% endifequal %}
					<td>{{ editor.client_ip }}</td>
					<td>{{ editor.start_time }}</td>
					<td>{{ editor.stop_time }}</td>
					<td>{{ editor.exit_code }}</td>
					{% ifequal editor.attachment "True" %}
						<a href="download/">附件</a>
					{% endifequal %}
				</tr>
				{% endfor %}
			</table>
			<ul id="userpage" class="pagination">
				{% if editorUser.has_previous %}
					<li><a title='上一页' onclick="flushUser('{{ editorUser.previous_page_number }}')">&lt;&lt;</a></li>
				{% endif %}
				{% for page in editorUser.paginator.page_range_ext %}
					{% if page == editorUser.number %}
						<li class="active"><a onclick="flushUser('{{ page }}')" title='当前页:{{ page }}'>{{ page }}</a></li>
					{% else %}
						<li><a onclick="flushUser('{{ page }}')" title='{{ page }}'>{{ page }}</a></li>
					{% endif %}
				{% endfor %}
				{% if editorUser.has_next %}
					<li><a title='下一页' onclick="flushUser('{{ editorUser.next_page_number }}')">&gt;&gt;</a></li>
				{% endif %}
			</ul>
		</div>
		<!-- 编辑器的操作 -->
		<div class="third-div" align="center">
			<h2>操作列表</h2>
			<br/>
			<table id="opttable" class="table table-striped  table-bordered">
				<thread>
					<tr>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thread>
				{% for o in opt %}
				<tr>
					<td>{{ o.time }}</td>
					<td>{{ o.cmd }}</td>
				</tr>
				{% endfor %}
			</table>
			<ul id="optpage" class="pagination">
				{% if opt.has_previous %}
					<li><a title='上一页' onclick="flushOpt('{{ opt.previous_page_number }}')">&lt;&lt;</a></li>
				{% endif %}
				{% for page in opt.paginator.page_range_ext %}
					{% if page == opt.number %}
						<li class="active"><a onclick="flushOpt('{{ page }}')" title='当前页:{{ page }}'>{{ page }}</a></li>
					{% else %}
						<li><a onclick="flushOpt('{{ page }}')" title='{{ page }}'>{{ page }}</a></li>
					{% endif %}
				{% endfor %}
				{% if opt.has_next %}
					<li><a title='下一页' onclick="flushOpt('{{ opt.next_page_number }}')">&gt;&gt;</a></li>
				{% endif %}
			</ul>
		</div>
		

	</div>

	<!-------------------------------图表-------------------------------------->
	<div class="chart">
		<h1>图表</h1>
		<div id="chart"></div>
	</div>

	<script>
		var url = window.location.host
		var searchType = 0
		var ip = ""
		var dump = 0
		var currEditor
		var currUserID
		var currNamePage = 1
		var currUserPage = 1
		var currOptPage = 1

		init()
		
		function init() {
			var table=document.getElementById("editortable")
			if (table.rows.length <= 1) {
				return
			}

			currEditor = table.rows[1].cells[0]
			flushUser(1, currEditor)
		}

		function queryData(Names){
			var Name
			for (var i=1;i<4;i++){	//  更改数字4可以改变选择的内容数量，在下拉总数值的基础上+1.比如：下拉菜单有5个值，则4变成6
				var tempname="mune_x"+i                                                                            
				var NewsHot="x"+i	//  “X”是ID名称，比如：ID命名为“case1”，这里的“X”即为“case”
				if (Names==tempname){
					Nnews=document.getElementById(NewsHot)
					Nnews.style.display='';
				}else{
					Nnews=document.getElementById(NewsHot)
					Nnews.style.display='none';   
				}
			}
		}

		function updateEditorList(data) {
			var table=document.getElementById("editortable")
			var rawCount = table.rows.length

			//删除原来的talbe
			for (var i = rawCount - 1; i > 0; --i) {
				table.deleteRow(i)
			}
			
			if ($.isEmptyObject(data) || data.length <= 0) {
				//顺便清空下其他table
				updatePage(data, document.getElementById("namepage"))
				updateUserList(data)
				return
			}

			//添加行
			var startName = ""
			var startTD
			for (var i = 0; i < data.length; ++i) {
				var currentRows = table.rows.length
				var tr = table.insertRow(currentRows)
				var nameTD = tr.insertCell(0)
				nameTD.innerHTML = data[i]["name"]
				nameTD.onclick = function() { currEditor = this; flushUser(1, this) }
				if (i == 0) {
					startName = data[i]["name"]
					startTD = nameTD
					tr.className = "success"
				}
			}
			updatePage(data, document.getElementById("namepage"))
			
			currEditor = startTD
			flushUser(1, startTD)
		}

		function updatePage(data, obj) {
			if ($.isEmptyObject(data) || data.length <= 0) {
				obj.innerHTML = ""
				return
			}

			var page
			var pageFunc 
			if (obj.id == "namepage") {
				page = currNamePage
				pageFunc = flushName
			}else if(obj.id == "userpage") {
				page = currUserPage	
				pageFunc = flushUser
			}else {
				page = currOptPage
				pageFunc = flushOpt
			}

			var pageDiv = obj
			pageDiv.innerHTML = ""
			if (data[0]["has_previous"]) {
				var li = document.createElement("li")
				var a = document.createElement("a")
				a.onclick = function() { pageFunc(page - 1) }
				a.title = "上一页"
				a.innerHTML = "&lt;&lt;"
				li.appendChild(a)
				pageDiv.appendChild(li)
			}
			
			for (var i = 0; i < data[0]["page_rang"].length; ++i) {
				var li = document.createElement("li")
				var a = document.createElement("a")
				if (data[0]["page_rang"][i] == page) {
					li.className = "active"
					a.onclick = function() { pageFunc(page) }
					a.title = "当前页：" + page
					a.innerHTML = page
				}
				else {
					a.onclick = function() { pageFunc(this.innerHTML) }
					a.title = data[0]["page_rang"][i]
					a.innerHTML = data[0]["page_rang"][i]
				}
				li.appendChild(a)
				pageDiv.appendChild(li)
			}

			if (data[0]["has_next"]) {
				var li = document.createElement("li")
				var a = document.createElement("a")
				a.onclick = function() { pageFunc(page + 1) }
				a.title = "下一页"
				a.innerHTML = "&gt;&gt;"
				li.appendChild(a)
				pageDiv.appendChild(li)
			}
		}

		function updateUserList(data) {
			var table=document.getElementById("usertable")
			var rawCount = table.rows.length

			//删除原来的talbe
			for (var i = rawCount - 1; i > 0; --i) {
				table.deleteRow(i)
			}
			
			if ($.isEmptyObject(data) || data.length <= 0) {
				//顺便清空下其他table
				updatePage(data, document.getElementById('userpage'))
				updateOptList(data)
				//updateChart(data)
				return
			}

			//添加行
			var sName = ""
			var sTD
			for (var i = 0; i < data.length; ++i) {
				var currentRows = table.rows.length
				var tr = table.insertRow(currentRows)

				var idTD = tr.insertCell(0)
				idTD.innerHTML = data[i]["pk"]
				idTD.onclick = function() { currUserID = this; flushOpt(1, this) }

				var ipTD = tr.insertCell(1)
				ipTD.innerHTML = data[i]["fields"]["client_ip"]

				var startTD = tr.insertCell(2)
				startTD.innerHTML = convertTimestampToDate(data[i]["fields"]["start_time"])

				var endTD = tr.insertCell(3)
				endTD.innerHTML = convertTimestampToDate(data[i]["fields"]["stop_time"])

				var stateTD = tr.insertCell(4)
				if (data[i]["fields"]["exit_code"] == "")
					stateTD.innerHTML = "-"
				else
					stateTD.innerHTML = data[i]["fields"]["exit_code"]
				
				var attTd = tr.insertCell(5)
				if (data[i]["fields"]["attachment"]) {
					attTd.href = "download/?id="+idTD.innerHTML
					attTd.target = '_blank'
					attTd.innerHTML = "附件"
				}else {
					attTd = document.createElement("td")
					attTd.innerHTML = "-"
				}

				if (i == 0) {
					sName = idTD.innerHTML
					sTD = idTD
					tr.className = "success"
				}
			}
			//TODO 改变颜色
			updatePage(data, document.getElementById('userpage'))			
			currUserID = sTD
			flushOpt(1, currUserID)
			//updateChart(data)
		}

		function updateOptList(data) {
			var table=document.getElementById("opttable")
			var rawCount = table.rows.length

			//删除原来的talbe
			for (var i = rawCount - 1; i > 0; --i) {
				table.deleteRow(i)
			}
			
			if ($.isEmptyObject(data) || data.length <= 0) {
				updatePage(data, document.getElementById('optpage'))				
				return
			}

			//添加行
			for (var i = 0; i < data.length; ++i) {
				var currentRows = table.rows.length
				var tr = table.insertRow(currentRows)

				var cmdTD = tr.insertCell(0)
				cmdTD.innerHTML = data[i]["fields"]["cmd"]

				var timeTD = tr.insertCell(1)
				timeTD.innerHTML = convertTimestampToDate(data[i]["fields"]["time"])
			}
			updatePage(data, document.getElementById('optpage'))
		}

		function updateChart(data) {
			if ($.isEmptyObject(data) || data.length <= 0) {
				chart = new Highcharts.Chart({  
					chart: {  
						renderTo: 'chart',  
						type: 'line',
					},
					title:{  
						text: ""
					}
				})
				return
			}

			var chartData = new Array()
			for (var i = 0; i < data.length; ++i) {
				var flag = false
				for (var j = 0; j < chartData.length; ++j) {
					if (chartData[j].datetime == data[i]["fields"]["start_time"]) {
						flag = true
						if (data[i]["fields"]["exit_code"] == "0") {
							chartData[j].successNum += 1
						}
						else {
							chartData[j].dumpNum += 1
						}
						continue
					}
				}

				if (!flag) {
					var temp = new Object()
					temp.datetime = data[i]["fields"]["start_time"]
					if (data[i]["fields"]["exit_code"] == "0") {
							temp.successNum = 1
							temp.dumpNum = 0
						}
						else {
							temp.dumpNum = 1
							temp.successNum = 0
						}
					chartData.push(temp)
				}
			}

			var xList = []
			var dumpList = []
			var successList = []
			for (var i = 0; i < chartData.length; ++i) {
				var dt = convertTimestampToDay(chartData[i].datetime)
				var index = $.inArray(dt, xList)
				if (index < 0) {
					xList.push(convertTimestampToDay(chartData[i].datetime))
					dumpList.push(chartData[i].dumpNum)
					successList.push(chartData[i].successNum)
				}else {
					dumpList[index] += chartData[i].dumpNum;
					successList[index] += chartData[i].successNum;
				}
				
			}

			chart = new Highcharts.Chart({  
				chart: {  
					renderTo: 'chart',  
					type: 'line',
				},  
				title:{  
					text: data[0]["fields"]["name"]
				},
				xAxis:{
					categories:xList
				},  
				yAxis:{  
					title:{  
						enabled: true,  
						text: '次数'  
					}  
				},  
				series:[{name: 'success'}, {name: 'dump'}]  
			});
			chart.series[0].setData(successList)
			//chart.series[0].name = "dump"
			chart.series[1].setData(dumpList)
			//chart.series[1].name = "success"
		}

		function flushName(currPage) {
			currNamePage = currPage
			//获取选择的元素
			var ele = document.getElementById("x1")
			if (ele.style.display != 'none' && document.getElementsByName("ip")[0].value != "") {
				searchType = 1
				ip = document.getElementsByName("ip")[0].value
				$.getJSON("http://"+url+"/searchName/?ip="+ip + "&namepage="+currPage, updateEditorList)
				return
			}

			ele = document.getElementById("x2")
			if (ele.style.display != 'none') {
				searchType = 2
				$.getJSON("http://"+url+"/searchName/?starttime=" + starttime + "&endtime=" + endtime + "&namepage="+currPage, updateEditorList)
				return
			}

			ele = document.getElementById("x3")
			if (ele.style.display != 'none') {
				searchType = 3
				dump = document.getElementsByName("dump")[0].value
				$.getJSON("http://"+url+"/searchName/?dump="+dump + "&namepage="+currPage, updateEditorList)
				return
			}

			$.getJSON("http://"+url+"/searchName/?"+ "&namepage="+currPage, updateEditorList)
		}

		function flushUser(currPage, obj) {
			if (obj) {
				currEditor = obj
			}
			currUserPage = currPage
			//currEditor = obj
			//清除颜色
			var table=document.getElementById("editortable")
			var rawCount = table.rows.length
			for (var i = rawCount - 1; i > 0; --i) {
				table.rows[i].className = ""
			}
			currEditor.parentNode.className = "success"
			var param = ""
			switch(searchType)
			{
			case 0:
				param = "name=" + currEditor.innerHTML
				break
			case 1:
				param = "ip=" + ip + "&name=" + currEditor.innerHTML
				break
			case 2:
				param = "starttime=" + starttime + "&endtime=" + endtime + "&name=" + currEditor.innerHTML
				break
			case 3:
				param = "dump=" + dump + "&name=" + currEditor.innerHTML
				break
			default:
				break
			}
			$.getJSON("http://"+url+"/searchUser/?" + param + "&userpage="+currPage, updateUserList)
			if (obj) {
				$.getJSON("http://"+url+"/searchUser/?" + param, updateChart)
			}
			//currEditor.className = "warning"
		}

		function flushOpt(currPage, obj) {
			if (obj) {
				currUserID = obj
			}
			currOptPage = currPage
			//currUserID = obj
			//清除颜色
			var table=document.getElementById("usertable")
			var rawCount = table.rows.length
			for (var i = rawCount - 1; i > 0; --i) {
				table.rows[i].className = ""
			}
			currUserID.parentNode.className = "success"
			//obj.style.color="#FFC706"
			//obj.className = "yellow"
			//var url = window.location.host
			$.getJSON("http://"+url+"/searchOpt?id="+currUserID.innerHTML  + "&optpage="+currPage, updateOptList)
			//currUserID.className = "warning"
		}

		function convertTimestampToDate(timestamp) {
			if (timestamp == 0) {
				return "Invaild Date"
			}

			var newDate = new Date()
			newDate.setTime(timestamp * 1000)
			return newDate.toLocaleString()
		}

		function convertTimestampToDay(timestamp) {
			if (timestamp == 0) {
				return "Invaild Date"
			}

			var newDate = new Date()
			newDate.setTime(timestamp * 1000)
			return newDate.toLocaleDateString()
		}

	</script>
</body>
{% endblock %}